@CHARSET "UTF-8";

#page_devices {
	height: auto;
}

#page_content {
	height: 100%;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 0px;
}

.tr_itemcontent {
	width: 100%;
	padding-top: 0px;
	padding-bottom: 0px;
	background: white;
}

.td_listitem_left {
	width: auto;
	color: black;
	padding: 0px;
	margin: 0px;
}

.td_listitem_middle {
	width: auto;
	color: black;
	padding: 0px;
	margin: 0px;
}

.img_imgoflistitem {
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 5px;
	width: 32px;
	height: 32px;
}

#dms_content {
	padding-top: 0px;
	padding-bottom: 0px;
}

#dmr_content {
	padding-top: 0px;
	padding-bottom: 0px;
}

.device_icon {
	width: 20%;
	height: 100%;
	position: relative;
	top: 0px;
	left: 0px;
	padding: 0px;
	margin: 0px;
}

.img_device_icon {
	width: 64px;
	height: 64px;
}

.device_info {
	width: 80%;
	height: 100%;
	position: relative;
	top: -100%;
	left: 20%;
	color: black;
	padding: 0px;
	margin: 0px;
}

.device_list_item {
	width: 100%;
	background-color: white;
	height: 64px;
	border-width: 5px;
	border-color: black;
	margin: 2px;
	padding: 2px;
	margin: 2px;
}

.li_device_item {
	padding: 0px;
	margin: 0px;
}

.div_device_name {
	color: black;
	font-size: large;
	font-weight: bolder;
	height: 70%;
	margin: 3px;
}

.div_device_address {
	color: black;
	font-size: medium;
	font-weight: normal;
	position: absolute;
	top: 70%;
	left: 3px;
}