#div_devi_toolbar{
	position: fixed;
	height: 9.48%; /*12%;*/
	width: 100%;
	padding: 0px;
	margin: 0px;
	top: 20.8%;
	z-index: 11;
	background-color: #eeeeee;
}

#div_devi_toolbar img{
	padding: 0px;
	margin: 0px;
	position: absolute;
}

#div_devi_toolbar img#img_dmS_label_icon{
	height: 100%;
	width: 33.3%;
	left: 33.3%;
	top: 0%;
}

#div_devi_toolbar img#img_dmR_label_icon{
	height: 50%;
	width: auto;
	right: 0%;
	top: 25%;
}

#div_devi_dmS{
	position: relative;
	top: 12%;
	min-height: 88%;
	max-height: auto;
	width: 100%;
	padding: 0px;
	margin: 0px;
	float: left;
	background-color: #eeeeee;
}

#div_devi_dmS div#div_wrraper_devi_dmS{
	height: 100%;
	width: 100%;
	padding: 0px;
	margin: 0px;
	position: relative;
}

#div_devi_dmR{
	position: relative;
	top: 12%;
	min-height: 88%;
	max-height: auto;
	width: 100%;
	padding: 0px;
	margin: 0px;
	float: right;
	background-color: #eeeeee;
}

#div_devi_dmR div#div_wrraper_devi_dmR{
	height: 100%;
	width: 100%;
	padding: 0px;
	margin: 0px;
	position: relative;
}

