
#div_devi_dmS{
	height: 100%;
	width: 100%;
	padding: 0px;
	margin: 0px;
	position: relative;
}

#div_devi_dmS div#div_devi_dmS_toolbar{
	height: 12%;
	width: 100%;
	padding: 0px;
	margin: 0px;
	position: relative;
}

#div_devi_dmS div#div_devi_dmS_toolbar img{
	padding: 0px;
	margin: 0px;
	height: 100%;
	width: height;
	float: right;
}

#div_devi_dmS div#div_wrraper_devi_dmS{
	height: 88%;
	width: 100%;
	padding: 0px;
	margin: 0px;
	position: relative;
}

#div_devi_dmR{
	height: 100%;
	width: 100%;
	padding: 0px;
	margin: 0px;
	position: relative;
}

#div_devi_dmR div#div_devi_dmR_toolbar{
	height: 12%;
	width: 100%;
	padding: 0px;
	margin: 0px;
	position: relative;
}

#div_devi_dmR div#div_devi_dmR_toolbar img{
	padding: 0px;
	margin: 0px;
	height: 100%;
	width: height;
	float: left;
}

#div_devi_dmR div#div_wrraper_devi_dmR{
	height: 88%;
	width: 100%;
	padding: 0px;
	margin: 0px;
	position: relative;
}
