#div_app_page {
	padding: 0px;
	margin: 0px;
	position: relative;
	left: 0px;
	top: 0px;
	height: 100%;
	width: 100%;
}

#di_main_tool_bar {
	position: relative;
	padding: 0px;
	margin: 0px;
	height: 7%;
	/*background-color: gray;*/
}

#di_main_tool_bar img {
	padding: 0px;
	margin: 0px;
	height: 100%;
	width: height;
	float: right;
}

#div_header {
	position: relative;
	padding: 0px;
	margin: 0px;
	height: 14%;
	/*background-color: blue;*/
}

.div_navbar {
	padding: 0px;
	margin: 0px;
	position: relative;
	height: 100%;
}

.div_navbar div {
	position: absolute;
	height: 100%;
	width: 25%;
	padding: 0px;
	margin: 0px;
}

.div_navbar div#div_navbar_1 {
	top: 0px;
	left: 0px;
}

.div_navbar div#div_navbar_2 {
	top: 0px;
	left: 25%;
}

.div_navbar div#div_navbar_3 {
	top: 0px;
	left: 50%;
}

.div_navbar div#div_navbar_4 {
	top: 0px;
	left: 75%;
}

.div_navbar div a {
	padding: 0px;
	margin: 0px;
	height: 99%;
	width: 100%;
}

.div_navbar div a img {
	position: relative;
	padding: 0px;
	margin: 0px;
	height: 72%;
	width: height;
}

/*---------------------------------------*/
#div_content {
	position: relative;
	height: 79%;
	/*background-color: blue;*/
}

.div_subcontent {
	position: relative;
	left: 0px;
	height: 100%;
	/*background-color: red;*/
	display: none;
}