#div_libs_toolbar
{
	position: relative;
	height: 15%;
	width: 100%;
	padding: 0px;
	margin: 0px;
}

#div_libs_toolbar div#div_libs_toolbar_left{
	position: absolute;
	padding: 0px;
	margin: 0px;
	left: 0px;
	height: 100%;
	width: 18%;
}

#div_libs_toolbar div#div_libs_toolbar_right{
	position: absolute;
	padding: 0px;
	margin: 0px;
	left: 18%;
	height: 100%;
	width: 82%;
}

#div_libs_toolbar div#div_libs_toolbar_left img{
	padding-left: 5%;
	padding-top: 5px;
	height: 90%;
	width: height;
}

#div_libs_toolbar div#div_libs_toolbar_right input{
	position: absolute;
	margin-left: 0px;
	margin-right: 0px;
	padding-left: 0px;
	padding-right: 0px;
	left: 0px;
	top: 10px;
	bottom: 5px;
	width: 96%;
}

.div_library_list 
{
	clear: both;
	position: relative;
	height: 78%;
	margin: 0px;
	padding: 0px;
}


#div_lib_selection_bar{
	position: relative;
	height: 7%;
	width: 100%;
	margin: 0px;
	padding: 0px;
	border-top: 1px solid #CCC;
}

#div_lib_selection_bar div{
	position: relative;
	float: left;
	width: 50%;
	height: 100%;
	padding: 0px;
	margin: 0px;
	-webkit-border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius  : 8px;
    -moz-border-radius  : 8px;  
}

#div_lib_selection_bar div img {
	padding: 0px;
	margin: 0px;
	height: 90%;
	width: auto;
}
