#div_remote_footer_controler {
	position: fixed;
	display: block;
	height: 6%;
	bottom: 14%;
	left: 0px;
	width: 100%;
	z-index: 10;
	background-color: black;
	text-align: center;
	border-top: solid 1px #33B5E5;
}

#div_remote_footer_controler img {
	padding: 0px;
	margin: 0px;
	height: 100%;
	width: auto;
}

#div_dmr_controler {
	position: fixed;
	display: block;
	height: 15%;
	bottom: 0%;
	left: 0px;
	width: 100%;
	z-index: 11;
	background-color: black;
}

#div_dmr_list {
	position: relative;
	height: 100%;
	width: 78%;
	float: left;
	padding: 0px;
	margin: 0px;
	overflow: hidden;
}

#div_dmr_play {
	position: relative;
	height: 100%;
	width: 22%;
	float: left;
	padding: 0px;
	margin: 0px;
	background-color: black;
}

.div_dmr_container {
	position: relative;
	padding: 0px;
	margin: 1px;
	width: 98%;
	height: 96%;
	border: solid 1px #787878;
	-webkit-border-radius: 5px;
	background-color: black;
}

#div_dmr_play div img {
	position: relative;
	padding: 0px;
	margin: 0px;
	height: 80%;
	width: 80%;
	top: 10%;
	left: 10%;
}

#div_dmr_handler {
	position: relative;
	pading: 0px;
	margin: 0px;
	height: 100%;
	width: 80%; /* just init */
	/* background-color: red;  */
	float: left;
	overflow: hidden;
}

#div_dmr_list_container {
	position: relative;
	padding: 0px;
	margin: 0px;
	height: 94%;
	top: 3%;
	width: 0px; /* just init */
	/* background-color: gray;  */
}

.dmr_movement_controller {
	position: relative;
	pading: 0px;
	margin: 0px;
	height: 100%;
	width: 10%; /* just init */
	float: left;
}

.dmr_movement_controller img {
	position: relative;
	padding: 0px;
	margin: 0px;
	width: 100%;
	top: 30%;
	height: 40%;
}

.div_dmr_item {
	position: relative;
	padding: 0px;
	margin: 0px;
	height: 100%;
	float: left;
	/* background-color: red; */
	overflow: hidden;
}

.img_dmr_item {
	position: relative;
	padding: 0px;
	margin: 0px;
	height: 70%;
	top: 8%;
	width: auto;
	display: block;
}

.p_dmr_info {
	position: relative;
	padding: 0px;
	padding-top: 8px;
	margin: 0px;
	width: 100%;
	left: 10%;
	right: 10%;
	height: 12px;
	display: inline;
	color: white;
	font-size: 12px;
	display: inline;
}

/* .div_dmr_info{
	position: relative;
	padding: 0px;
	margin: 0px;
	height: 15%;
	width: 100%;
	bottom: 5%;
	color: #EBEBEB;
	text-align: center;
	font-weight: bold;
} */