
/* #div_global_setting_table{
	position: fixed;
	padding: 0px;
	margin: 0px;
	top: 10.5%;
	right: 0px;
	float: right;
	height: 0%;
	width: 0%;
	border: solid 1px #33B5E5;
	-webkit-border-radius: 5px;
	background-color: black;
	z-index: 15;
}

#div_global_setting_table div{
	position: relative;
	padding: 0px;
	margin: 0px;
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
	height: 33.3%;
	text-align: center;
}

#div_global_setting_table div img{
	position: relative;
	padding: 0px;
	margin: 0px;
	height: 100%;
	width: auto;
} */