<!DOCTYPE html> 
<html> 
<head> 
	<title>Youtube view</title> 
	
	<meta name="viewport" content="width=device-width, initial-scale=1"> 

	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.0.1/jquery.mobile-1.0.1.min.css" />
	<script src="http://code.jquery.com/jquery-1.6.4.min.js"></script>
	<script src="http://code.jquery.com/mobile/1.0.1/jquery.mobile-1.0.1.min.js"></script>
	<script src="../../iscroll.js"></script>
	
	<link rel="stylesheet" href="youtube-view.css"/>
	
	<script type="text/javascript">
		var myScroll;
		$(document).ready(function() {
			setTimeout(function() {
				myScroll = new iScroll('you_div_wrapper', { hScroll: false, vScrollbar: false });
			}, 200);
			console.log("set scroll for youtube view, hahaha");
		});
	</script>
</head>
<body> 

<div id="you_div_page" data-role="page" data-theme="a">
	<div id="you_div_header" data-role="header">
		<div data-role="navbar" data-iconpos="top" data-id="main_navbar">
			<ul>

				<li><a href="../devices-view/devices-view.html"
					
					data-icon="search"
					data-transition="fade">Devices</a></li>
					
				<li><a href="../library-view/library-view.html"
					
					data-icon="search"
					data-transition="fade">Library</a></li>
					
				<li><a href="#" 
					data-icon="search"
					class="ui-btn-active ui-state-persist"
					data-transition="fade">Youtube</a></li>
					
				<li><a href="../playlists-view/playlists-view.html"
					
					data-icon="search"
					data-transition="fade">Playlists</a></li>

			</ul>
		</div>
	</div>
	
	<div id="you_div_content" data-role="content">
		<div id="you_div_toolbar" data-theme="e">
			<input type="text" data-theme="d" placeholder="Search text..." style="position: absolute; top: 3px; left: 5px; width: 79%;">
			<img alt="Back Button" src="../../img/search_icon.png" style="height: 48px; width: 48px; position: absolute; right: 0px;">
		</div>
		
		<div id="you_div_wrapper">
			<ul data-role="listview">
				<li>
					<a href="#" style="padding-top: 0px; padding-bottom: 0px;">
						<img src="../../img/youtube_icon.png" 
							style="height: 100%; width: height; padding-left: 10px;" />
						<h3>First - Youtube video name</h3>
						<p>Link details</p>
					</a>
				</li>
				
				<li>
					<a href="#" style="padding-top: 0px; padding-bottom: 0px;">
						<img src="../../img/youtube_icon.png" 
							style="height: 100%; width: height; padding-left: 10px;" />
						<h3>First - Youtube video name</h3>
						<p>Link details</p>
					</a>
				</li>
				
				<li>
					<a href="#" style="padding-top: 0px; padding-bottom: 0px;">
						<img src="../../img/youtube_icon.png" 
							style="height: 100%; width: height; padding-left: 10px;" />
						<h3>First - Youtube video name</h3>
						<p>Link details</p>
					</a>
				</li>
				
				<li>
					<a href="#" style="padding-top: 0px; padding-bottom: 0px;">
						<img src="../../img/youtube_icon.png" 
							style="height: 100%; width: height; padding-left: 10px;" />
						<h3>First - Youtube video name</h3>
						<p>Link details</p>
					</a>
				</li>
				
				<li>
					<a href="#" style="padding-top: 0px; padding-bottom: 0px;">
						<img src="../../img/youtube_icon.png" 
							style="height: 100%; width: height; padding-left: 10px;" />
						<h3>First - Youtube video name</h3>
						<p>Link details</p>
					</a>
				</li>
				
				<li>
					<a href="#" style="padding-top: 0px; padding-bottom: 0px;">
						<img src="../../img/youtube_icon.png" 
							style="height: 100%; width: height; padding-left: 10px;" />
						<h3>First - Youtube video name</h3>
						<p>Link details</p>
					</a>
				</li>
				
				<li>
					<a href="#" style="padding-top: 0px; padding-bottom: 0px;">
						<img src="../../img/youtube_icon.png" 
							style="height: 100%; width: height; padding-left: 10px;" />
						<h3>First - Youtube video name</h3>
						<p>Link details</p>
					</a>
				</li>
				
				<li>
					<a href="#" style="padding-top: 0px; padding-bottom: 0px;">
						<img src="youtube_icon.png" 
							style="height: 100%; width: height; padding-left: 10px;" />
						<h3>Last - Youtube video name</h3>
						<p>Link details</p>
					</a>
				</li>
			</ul>
		</div>
		<script type="text/javascript">
		console.log("load youtube page complete!");
		</script>	
	</div>
</div>

</body>
</html>