
#you_div_page
{
	height: 100%;
	width: 100%;
	margin: 0px;
	padding: 0px;
	position: relative;
	top: 0px;
	left: 0px;
}

#you_div_header
{
	height: 12%;
}

#you_div_content
{
	height: 87%;
	padding: 0px;
	margin: 0px;
}

#you_div_toolbar
{
	height: 12%;
	width: 100%;
	padding: 0px;
	margin: 0px;
	position: relative;
}

#you_div_wrapper
{
	height: 85%;
	margin: 0px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 0px;
	padding-top: 15px;
	background-color: red;
}