<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.dlna.controller.v4"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="10" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.NFC" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:name="com.app.dlna.dmc.gui.MainActivity"
            android:icon="@drawable/ic_launcher"
            android:label="@string/app_name"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar"
            android:windowSoftInputMode="adjustPan" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.app.dlna.dmc.gui.subactivity.LibraryActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name="com.app.dlna.dmc.gui.subactivity.NowPlayingActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateHidden" >
        </activity>

        <service
            android:name="com.app.dlna.dmc.processor.upnp.CoreUpnpService"
            android:description="@string/upnp_service" >
        </service>
        <service
            android:name="com.app.dlna.dmc.processor.systemservice.RestartService"
            android:description="@string/upnp_service" >
        </service>

        <provider
            android:name="com.app.dlna.dmc.processor.provider.PlaylistProvider"
            android:authorities="com.app.dlna.dmc.native.processor.provider.playlistprovider" >
        </provider>
    </application>

</manifest>