<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.app.dlna.dmc"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="8" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:icon="@drawable/remote_control"
        android:label="@string/app_name" >
        <activity
            android:name=".gui.devices.DMSListActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".gui.dms.DMSBrowserActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".gui.devices.DMRListActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".gui.dmr.DMRControllerActivity"
            android:label="@string/app_name" >
        </activity>

        <service android:name=".processor.upnp.CoreUpnpService" >
        </service>
    </application>

</manifest>