<!DOCTYPE html> 
<html> 
<head> 
	<title>Playlists view</title> 
	
	<meta name="viewport" content="width=device-width, initial-scale=1"> 

	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.0.1/jquery.mobile-1.0.1.min.css" />
	<script src="http://code.jquery.com/jquery-1.6.4.min.js"></script>
	<script src="http://code.jquery.com/mobile/1.0.1/jquery.mobile-1.0.1.min.js"></script>
	<script src="../../iscroll.js"></script>
	
	<link rel="stylesheet" href="playlists-view.css"/>
	
	<script type="text/javascript">
		var myScroll;
		
		$(document).ready(function() {
			setTimeout(function() {
				myScroll = new iScroll('play_div_media_list', { hScroll: false, vScrollbar: false });
			}, 200);
			console.log("set scroll for libs view");
		});
	</script>
	
</head>
<body> 

<div id="play_div_page" data-role="page" data-theme="a">
	<div id="play_div_header" data-role="header">
		<div data-role="navbar" data-iconpos="top" data-id="main_navbar">
			<ul>
				<li><a href="../devices-view/devices-view.html"
					
					data-icon="search"
					data-transition="fade">Devices</a></li>
					
				<li><a href="../library-view/library-view.html"
					
					data-icon="search"
					data-transition="fade">Library</a></li>
					
				<li><a href="../youtube-view/youtube-view.html" 
					
					data-icon="search"
					data-transition="fade">Youtube</a></li>
					
				<li><a href="#" 
					data-icon="search"
					class="ui-btn-active ui-state-persist">Playlists</a></li>
			</ul>
		</div>
	</div>
 
	<div id="play_div_content" data-role="content">
		<div id="play_div_filter" align="center" data-theme="e">
			<input type="text" placeholder="Search text.." style="width: 90%;" data-theme="d">
		</div>
		
		<div id="play_div_media_list">
			<ul data-role="listview">
				<li>
					<a href="#" style="padding-top: 0px; padding-bottom: 0px;">
						<img src="../../img/folder_icon.png" 
							style="width: 48px; height: 48px; padding-left: 10px;" />
						<h3>First</h3>
						<p>details</p>
					</a>
					
				</li>	
				
				<li>
					<a href="#" style="padding-top: 0px; padding-bottom: 0px;">
						<img src="../../img/folder_icon.png" 
							style="width: 48px; height: 48px; padding-left: 10px;" />
						<h3>Item 1</h3>
						<p>details</p>
					</a>
				</li>
				
				<li>
					<a href="#" style="padding-top: 0px; padding-bottom: 0px;">
						<img src="../../img/folder_icon.png" 
							style="width: 48px; height: 48px; padding-left: 10px;" />
						<h3>Item 2</h3>
						<p>details</p>
					</a>
				</li>
				
				<li>
					<a href="#" style="padding-top: 0px; padding-bottom: 0px;">
						<img src="../../img/folder_icon.png" 
							style="width: 48px; height: 48px; padding-left: 10px;" />
						<h3>Item 3</h3>
						<p>details</p>
					</a>
				</li>
				
				<li>
					<a href="#" style="padding-top: 0px; padding-bottom: 0px;">
						<img src="../../img/folder_icon.png" 
							style="width: 48px; height: 48px; padding-left: 10px;" />
						<h3>Item 4</h3>
						<p>details</p>
					</a>
				</li>
				
				<li>
					<a href="#" style="padding-top: 0px; padding-bottom: 0px;">
						<img src="../../img/folder_icon.png" 
							style="width: 48px; height: 48px; padding-left: 10px;" />
						<h3>Last</h3>
						<p>details</p>
					</a>
				</li>
			</ul>
		</div>
		
		<div id="play_div_media_controller" data-theme="d">
		
			<div class="ui-grid-c" style="padding-top: 10px; vertical-align: middle;">
				<div class="ui-block-a" align="right" style=" padding-top: 10px;">
					<img src="../../img/previous_icon.png" 
							style="width: 28px; height: 28px;" />
				</div>
				<div class="ui-block-b" align="right">
					<img src="../../img/play_icon.png" 
							style="width: 48px; height: 48px;" />
				</div>
				<div class="ui-block-c" align="left" style=" padding-top: 8px;">
					<img src="../../img/stop_icon.png" 
							style="width: 32px; height: 32px; padding-left: 8px;" />
				</div>
				<div class="ui-block-d" align="left" style=" padding-top: 10px;">
					<img src="../../img/next_icon.png" 
							style="width: 28px; height: 28px;" />
				</div>
			</div>
			
			<div data-role="fieldcontain">
				<input class="ui-hidden-accessible" 
				type="range" value="25" min="0" max="100" step="1"
				style="width: 300px; height: 5px;"/>
			</div>
		</div>
	</div>
	
	<div id="play_div_footer" data-role="footer" data-theme="a">
		DMR Name
	</div>
</div>

</body>
</html>