<!DOCTYPE html> 
<html> 
	<head> 
	<title>Youtube view</title> 
	
	<meta name="viewport" content="width=device-width, initial-scale=1"> 

	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.0.1/jquery.mobile-1.0.1.min.css" />
	<script src="http://code.jquery.com/jquery-1.6.4.min.js"></script>
	<script src="http://code.jquery.com/mobile/1.0.1/jquery.mobile-1.0.1.min.js"></script>
</head> 
<body> 

<div data-role="page" data-theme="a">
	<div data-role="header">
		<div data-role="navbar" data-iconpos="top" data-id="main_navbar">
			<ul>
				<li><a href="#../devices-view/devices-view.html" 
					data-icon="search"
					data-transition="fade">Devices</a></li>
					
				<li><a href="#../library-view/library-view.html" 
					data-icon="search"
					data-transition="fade">Library</a></li>
					
				<li><a href="#" data-icon="search"
					class="ui-btn-active ui-state-persist">Youtube</a></li>
					
				<li><a href="#../playlists-view/playlists-view.html" 
					data-icon="search"
					data-transition="fade">Playlists</a></li>
			</ul>
		</div>
	</div>
	<div id="page_content" data-role="content">
		Youtube view content
	</div>
</div>

</body>
</html>