<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Devices view</title>
	<meta name="viewport" content="width=device-width, initial-scale=1"> 
	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.0.1/jquery.mobile-1.0.1.min.css" />
	<link rel="stylesheet" href="devices-view.css" />
	<script src="http://code.jquery.com/jquery-1.6.4.min.js"></script>
	<script src="http://code.jquery.com/mobile/1.0.1/jquery.mobile-1.0.1.min.js"></script>
	<script type="text/javascript" src="devices-view.js"></script>
	
	<script type="text/javascript">
		function dmSItem_ClickEvent(object){
			console.log(object);
			//var serverAddress = object.getAttribute('id');
		}
		
		function dmRItem_ClickEvent(object){
			//alert('DMR Item Click');
		}
	</script>
	
</head>

<body>
	<div id="page_devices" data-role="page" data-theme="a">	
		<div data-role="header">
			<div data-role="navbar" data-iconpos="top">
				<ul>
					<li><a href="#" data-icon="search" class="ui-btn-active ui-state-persist">Devices</a></li>
					<li><a href="#" data-icon="search">Library</a></li>
					<li><a href="#" data-icon="search">Youtube</a></li>
					<li><a href="#" data-icon="search">Playlist</a></li>
				</ul>
			</div>
		</div>
		<div id= "page_content" data-role="content">
			<input id="btn_add_dmsitem" type="button" value="Add DMS item" data-theme="c"></input>
			<div id ="dms_content" data-role="collapsible" data-collapsed="false" data-theme="e">
				<h3>DMS list</h3>
				<ul id ="list_of_dms" data-role="listview" data-theme="d">
					
				</ul>
			</div>
			
			<input id="btn_add_dmritem" type="button" value="Add DMR item" data-theme="c"></input>
			<div id ="dmr_content" data-role="collapsible" data-collapsed="false" data-theme="e">
				<h3>DMR list</h3>
				<ul id ="list_of_dmr" data-role="listview" data-theme="d">
					
				</ul>
			</div>
		</div>
	</div>
</body>
</html>