

.div_back_button {
	width: 20%;
	height: 100%;
	position: relative;
	top: 0px;
	left: 0px;
}

.div_filter_text {
	width: ì80%;
	height: 100%;
	position: relative;
	top: -100%;
	left: 20%;
}

#page_content
{
	padding: 0px;
}

#div_backbutton_container
{
	height: 100%;
	width: 48px;
	padding: 0px;
	background-color: red;
	float: left;
}

#img_backimage
{
	padding: 0px;
	margin: 0px;
	width: 48px;
	height: 48px;
}

#div_filter_container
{
	height: 100%;
	left: 48px;
	right: 0px;
	padding: 0px;
	margin: 0px;
	background-color: green;
}

#textbox_filter
{
	left: 0px;
	top: 0px;
}

