
#page_youtube
{
	height: 100%;
	width: 100%;
	margin: 0px;
	padding: 0px;
	position: relative;
	top: 0px;
	left: 0px;
}

#div_header
{
	height: 12%;
}

#libs_div_page_content
{
	height: 87%;
	padding: 0px;
	margin: 0px;
}

#div_toolbar
{
	height: 12%;
	width: 100%;
	padding: 0px;
	margin: 0px;
	position: relative;
}

#wrapper
{
	height: 85%;
	margin: 0px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 0px;
	padding-top: 15px;
}